flask
flask-restful
flask-migrate
flask-sqlalchemy
flask-marshmallow
flask-jwt-extended
{%- if cookiecutter.use_excel == "yes" %}
Flask-Excel==0.0.7
pyexcel-xlsx==0.5.7
{%- endif %}
{%- if cookiecutter.use_redis == "yes" %}
flask-redis
{%- endif %}
marshmallow-sqlalchemy
marshmallow
python-dotenv
passlib
apispec[yaml]
apispec-webframeworks
PyYAML==5.1.2
tox
{%- if cookiecutter.use_celery == "yes" %}
celery[redis]
{%- endif %}
{%- if cookiecutter.wsgi_server == "uwsgi" %}
uwsgi
{%- endif %}
{%- if cookiecutter.wsgi_server == "gunicorn" %}
gunicorn
gevent==1.4.0
{%- endif %}
